@model FarulewskiKlinika.ViewModels.LekarzCreateViewModel


@{
    ViewData["Title"] = "Create";
}
<h4>Dodaj nowego lekarza</h4>
<hr />
<form enctype="multipart/form-data" asp-controller="NewLekarz" asp-action="Create" method="post" class="mt-3">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Imie" class="control-label"></label>
                <input asp-for="Imie" class="form-control" />
                <span asp-validation-for="Imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazwisko" class="control-label"></label>
                <input asp-for="Nazwisko" class="form-control" />
                <span asp-validation-for="Nazwisko" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specjalizacja" class="control-label"></label>
                <input asp-for="Specjalizacja" class="form-control" />
                <span asp-validation-for="Specjalizacja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                @Html.TextArea("Opis", null, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="Foto" class="form-control custom-file-input" placeholder="Zdjęcie" />
                    <label class="custom-file-label">Załącz zdjęcie...</label>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Dodaj</button>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Powrót</a>
                </div>
            </div>
        </div>
    </div>

            @section site {
                <script>
                    $(document).ready(function () {
                        $('.custom-file-input').on("change", function () {
                            var fileName = $(this).val().split("\\").pop();
                            $(this).next('.custom-file-label').html(fileName);
                        });
                    });
                </script>
            }
</form>
