@model FarulewskiKlinika.Models.Lekarz

@{
    ViewData["Title"] = "Edit";
}

<img src="~/Images/wizyta.jpg" align="left" height="200" width="250" />
<h4>Dokonaj zmian</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Imie" class="control-label"></label>
                <input asp-for="Imie" class="form-control" />
                <span asp-validation-for="Imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazwisko" class="control-label"></label>
                <input asp-for="Nazwisko" class="form-control" />
                <span asp-validation-for="Nazwisko" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specjalizacja" class="control-label"></label>
                <input asp-for="Specjalizacja" class="form-control" />
                <span asp-validation-for="Specjalizacja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-secondary">Powrót do listy</a>
            </div>
        </form>
    </div>
</div>

<!--<div>
    <a asp-action="Index" class="btn btn-outline-secondary">Powrót do listy</a>
    <!--<a asp-action="Index">Powrót do listy</a>
</div>-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

