<!--Now it is strongly typped view - it is better than ViewBag and ViewData-->

@model FarulewskiKlinika.ViewModels.WizytaDetailsTestViewModel

<html 
<head>
    <title></title>
</head>
<body>
    <h3> Wygląda na to, że nie możesz umówić tej wizyty. Lekarz ma juz umówioną wizytę na ten dzień i godzinę.</h3>
    <br />
    <p> Dzisiaj jest @ViewBag.TerazJest </p>
    <div>
    <div>
        Lekarz: @Model.Wizyta.LekarzID
    </div>
    <div>
        UserName: @Model.Wizyta.UserName
    </div>
    <div>
        Data i godzina: @Model.Wizyta.DataWizyty
    </div>
</body>
</html>
