@model IEnumerable<IdentityRole>
@using Microsoft.AspNetCore.Identity;

@{
    ViewBag.Title = "All Roles";
}

<h4>To są wszystkie role </h4>
<hr />

@if (Model.Any())
{
    <a class="btn btn-dark" style="width:auto" asp-action="CreateRole" asp-controller="Administration">Dodaj nową rolę</a>
    <br />
    <br />
    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">

                Role Id: @role.Id

            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" asp-action="EditRole" asp-controller="Administration"
                   asp-route-id="@role.Id">Edytuj</a> <!--tutaj przekazuje Id roli którą edytuję-->
                <a href="#" class="btn btn-danger">Usuń</a>
            </div>
        </div>

    }
}
else
{
    <div class="card">
        <div class="card-header">
            Brak ról do wyświetlenia
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Stwórz nową rolę
            </h5>
            <a class="btn btn-primary" style="width:auto" asp-action="CreateRole" asp-controller="Administration">Stwórz rolę</a>
        </div>
    </div>
}

