<body>

    <div class="card text-center" style="width: 30rem;">

        <img src="~/Images/img3.jpg" class="card-img-top" align="right" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">O nas</h5>
            <p class="card-text">
                Farulewski Klinika to uznane w Bydgoszczy i Toruniu centrum medyczne, świadczące usługi wielospecjalistyczne.
                W naszej klinice pracuje doświadczony personel świadczący usługi na najwyższym poziomie. Specjalizujemy się
                m.in. w chorobach wewnętrznych, alergologii, laryngologii, reumatologii.
            </p>
            <a asp-controller="NewLekarz" asp-action="NewIndex" class="btn btn-primary">Poznaj nas</a>
        </div>
    </div>

</body>
