
<body>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="~/Images/Konrad.jpg" class="card-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Internista</h5>
                    <h5 class="card-title">lek. Konrad Kowalski</h5>
                    <p class="card-text">
                        Zajmuje się profilaktyką, diagnozowaniem i leczeniem chorób narządów
                        wewnętrznych, diagnozowaniem chorób układu krążenia i układów: oddechowego, pokarmowego, kostno-stawowego, moczowego, odpornościowego,
                        a także chorób tarczycy, chorób metabolicznych i chorób alergicznych.
                    </p>
                    <form>
                        <a href="Wizyta" class="btn btn-primary">Umów wizytę</a>
                        <a href="Index" class="btn btn-outline-secondary">Powrót</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="~/Images/Agata.jpg" class="card-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Laryngolog</h5>
                    <h5 class="card-title">lek. Agata Nowak</h5>
                    <p class="card-text">
                        Specjalizuje się w profilaktyce, diagnozowaniu i leczeniu chorób narządów głowy i szyi.
                        Wśród nich znajdują się: objawy związane z uchem, w tym uczucie zatkanego ucha, szumy uszne, ból ucha, pogorszenie słuchu oraz
                        krwawienie z nosa, przewlekły katar, chrapanie.
                    </p>
                    <form>
                        <a href="Wizyta" class="btn btn-primary">Umów wizytę</a>
                        <a href="Index" class="btn btn-outline-secondary">Powrót</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="~/Images/Janek.jpg" class="card-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Dermatolog</h5>
                    <h5 class="card-title">lek. Jan Kujawski</h5>
                    <p class="card-text">
                        Diagnozuje i leczy choroby skóry i jej przydatków (włosów i paznokci) oraz wszelkie schorzenia
                        ogólnoustrojowe, które dają objawy na powierzchni skóry.
                    </p>
                    <form>
                        <a href="Wizyta" class="btn btn-primary">Umów wizytę</a>
                        <a href="Index" class="btn btn-outline-secondary">Powrót</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="~/Images/Damian.jpg" class="card-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Stomatolog</h5>
                    <h5 class="card-title">lek. dent. Damian Borowicz</h5>
                    <p class="card-text">
                        Zajmuje się funkcjonowaniem, patologiami i leczeniem zębów, przyzębia, języka,
                        błony śluzowej i innych tkanek jamy ustnej oraz ją otaczających, a także stawu skroniowo-żuchwowego.
                    </p>
                    <form>
                        <a href="Wizyta" class="btn btn-primary">Umów wizytę</a>
                        <a href="Index" class="btn btn-outline-secondary">Powrót</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="~/Images/Karolina.png" class="card-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Okulista</h5>
                    <h5 class="card-title">lek. Karolina Zawadzka</h5>
                    <p class="card-text">
                        Zajmuje się wadami wzroku, jak i chorób np. zeza, jaskry, zaćmy, zapalenia spojówek.
                        Jest specjalistą od budowy oka i jest w stanie rozpoznać różnego rodzaju schorzenia.
                    </p>
                    <form>
                        <a href="Wizyta" class="btn btn-primary">Umów wizytę</a>
                        <a href="Index" class="btn btn-outline-secondary">Powrót</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="~/Images/Magda.jpg" class="card-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Pielęgniarka</h5>
                    <h5 class="card-title">Magda Montewska</h5>
                    <p class="card-text">
                        Sprawuje opiekę medyczną nad pacjentem, asystuje lekarzowi w czasie zabiegów,
                        operacji, wykonuje samodzielne działania w zakresie diagnostyki, leczenia i rehabilitacji medycznej,
                        a także wykonuje zlecenia lekarskie.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="~/Images/Monika.jpg" class="card-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Asystentka stomatologiczna</h5>
                    <h5 class="card-title">Monika Piotrowska</h5>
                    <p class="card-text">
                        Pomaga lekarzom stomatologom w codziennej pracy przy pacjencie a także zajmuje się dokumentacją.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
