@model FarulewskiKlinika.Models.Wizyta
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Create";
}

@if (SignInManager.IsSignedIn(User))
{

               <div class="row">
                 <div class="col-md-4">
                     <form asp-action="Create">
                         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                         <div class="form-group">
                             <label asp-for="PacjentID" class="control-label"></label>
                             <select asp-for="PacjentID" class="form-control" asp-items="ViewBag.PacjentID"></select>
                         </div>
                         <div class="form-group">
                             <label asp-for="LekarzID" class="control-label"></label>
                             <select asp-for="LekarzID" class="form-control" asp-items="ViewBag.LekarzID"></select>
                         </div>
                         <div class="form-group">
                             <label asp-for="Specjalizacja" class="control-label"></label>
                             <input asp-for="Specjalizacja" class="form-control" />
                             <span asp-validation-for="Specjalizacja" class="text-danger"></span>
                         </div>
                         <div class="form-group">
                             <label asp-for="DataWizyty" class="control-label"></label>
                             <input asp-for="DataWizyty" class="form-control" />
                             <span asp-validation-for="DataWizyty" class="text-danger"></span>
                         </div>
                         <div class="form-group">
                             <label asp-for="Zalecenia" class="control-label"></label>
                             <input asp-for="Zalecenia" class="form-control" />
                             <span asp-validation-for="Zalecenia" class="text-danger"></span>
                         </div>
                         <div class="form-group">
                             <input type="submit" value="Umawiam" class="btn btn-primary" />
                             <a href="Personel" class="btn btn-outline-secondary">Powrót</a>
                         </div>
                     </form>
                 </div>
            </div>
        }
    


else
{
    <br>
    <img src="~/Images/img1.jpg" align="left" height="200" width="250" />
    <font size="5">Przed umówieniem wizyty, proszę się zalogować.</font>
    <br>
    <br>
    <font size="3">Czy już się rejestrowałeś? Proszę potwierdzić rejestrację.</font>
    <br>
    <br>
    <br>
    <br>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Zarejestruj się</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Zaloguj się</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" font color="blue" asp-action="Index">Powrót</a>
        </li>
    </ul>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

